$menu-size-font: 1rem;

$menu-size-font-title: 1.5rem;
$menu-line-height-font-title: 3rem;
$menu-background-color-title: #2f3c44;
$menu-color-title: #637682;

$menu-background-color-footer: #2f3c44;
$menu-height-footer: 1.8rem;

$size-font-li-messages: .9rem;
$line-height-li-messages: 1rem;
$border-color-top-li: #3D505D;
$background-color-li: #4d5b64;

$submenu-fontsize: .9rem;
$submenu-font-color: #fff;
$submenu-border-color: #25323a;
$submenu-background-color: #25323a;
$submenu-chosen-border-color: #3D505D;
$submenu-li-link: #6c808c;
$submenu-li-hover: #4d5b64;
$submenu-li-border-hover: #a3cb39;
$submenu-li-a-hover: #a3cb39;